{% extends "layouts/base.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    



    {% block content %}
    
    <div class=" mt-40 mb-28 mx-auto max-w-4xl bg-white border border-gray-200 rounded-lg shadow sm:p-8 md:p-12 dark:bg-gray-800 dark:border-gray-700 ">
        <h1 class="text-5xl font-extrabold dark:text-white">Bienvenido a Luna Mística: Descubre el Universo de la Espiritualidad y Bienestar</h1>

        <p class="mb-3 text-left rtl:text-right text-gray-500 dark:text-gray-400 pt-2">En medio de la adversidad que trajo consigo la pandemia, nació Luna Mística con la firme convicción de acercar a las personas a un universo de productos esotéricos, decoración y accesorios para el alma. Somos un emprendimiento que surge con la misión de inspirar, transformar y brindar un refugio de energía positiva en estos tiempos desafiantes.</p>
    
        
        <h2 class="text-4xl font-bold dark:text-white">Nuestro Propósito: Conectar y Transformar</h2>
    
        <p class="mb-3 text-left rtl:text-right text-gray-500 dark:text-gray-400 pt-2">En Luna Mística, creemos en la magia de la conexión espiritual y la transformación personal. Nuestra tienda ofrece una cuidadosa selección de productos esotéricos, desde decoración y aromaterapia hasta cristales y sahumerios, diseñados para elevar la vibración de tu espacio y nutrir tu ser interior. Nos enorgullece ser un oasis de serenidad en la cotidianidad.</p>
    
        <h2 class="text-4xl font-bold dark:text-white">Explora Nuestro Mundo de Productos:</h2>
    
        <ul class = "pt-2">
            <li>
                <p class="mb-3 text-left rtl:text-right text-gray-500 dark:text-gray-400">Esoterismo y Aromas: Sumérgete en la esencia de la espiritualidad con nuestra gama de sahumerios, aceites esenciales y velas aromáticas. Cada producto está diseñado para armonizar tu entorno y elevar tu estado de ánimo.</p>
            </li>
            <li>
                <p class="mb-3 text-left rtl:text-right text-gray-500 dark:text-gray-400">Decoración de Baños: Renueva tus momentos de relajación con nuestra colección de decoración para baños, fusionando la funcionalidad con la estética. Crea un espacio sagrado para el autocuidado y la renovación.</p>
            </li>
            <li>
                <p class="mb-3 text-left rtl:text-right text-gray-500 dark:text-gray-400">Rieki y Sahumerios: Descubre la magia de la relajación profunda y la energía revitalizante con nuestras terapias de Reiki y una cuidadosa selección de sahumerios que te transportarán a un mundo de tranquilidad</p>
            </li>
        </ul>
    </div>
    


    {% endblock %}




</body>
</html>




